<section id="experience">
  <div class="container">

    <h2>Experience</h2>
    <hr>
    <p class="lead">I’m a T-shaped generalist with a broad diversity of skills and deep subject matter expertise in public administration and civic innovation. I improve the methods, tools, and services by which citizens interact with public agencies, civic organizations, and each other. Here are the roles that have kept me busy in my professional career:</p>

    <div class="row">
      <div class="col-sm-6">
        <h3>Professional Roles</h3>
        <ul class="list-group">
          {% for job in site.data.jobs %}
          <li class="list-group-item">
            <h4 class="list-group-item-heading text-center">{{ job.title }}</h4>
            <a href="{{ job.url }}"><h5 class="list-group-item-heading">
              <i class="fa fa-briefcase"></i> {{ job.organization }}
            </h5></a>
            <h6 class="list-group-item-heading">
              <i class="fa fa-calendar"></i> {{ job.length }}
            </h6>
            <p class="list-group-item-text">{{ job.description }}</p>
          </li>
          {% endfor %}
        </ul>
      </div>
      <div class="col-sm-6">
        <h3>Startups and Other Projects</h3>
        <ul class="list-group">
          {% for project in site.data.projects %}
          <li class="list-group-item">
            <h4 class="list-group-item-heading text-center">{{ project.role }}</h4>
            <a href="{{ project.url }}"><h5 class="list-group-item-heading">
              <i class="fa fa-briefcase"></i> {{ project.name }}
            </h5></a>
            <h6 class="list-group-item-heading">
              <i class="fa fa-calendar"></i> {{ project.length }}
            </h6>
            <p class="list-group-item-text">{{ project.description }}</p>
          </li>
          {% endfor %}
        </ul>
      </div>
    </div>

  </div><!-- /.container -->
</section>
