<section id="home" class="anchor-offset">
  <div class="container">

    <div class="row">
      <div class="col-sm-3">
        <img src="/img/ash-roughani.jpg" class="img-circle img-responsive img-home">
      </div>
      <div class="col-sm-9">
        <h1>Hello, I'm Ash Roughani and I'm a generalist.</h1><br>
        <p class="lead">I'm a systems thinker who enjoys bringing people together to solve complex problems through creativity, innovation, and design. I see patterns and connections where others don't, and use that skill to develop and execute disruptive strategies. In short, I'm a change agent making the world a better place by humanizing our interaction with products, services, and, ultimately, each other.</p>
      </div>
    </div>

  </div><!-- /.container -->
</section>
