<section id="skills" class="anchor-offset">
  <div class="container">

    <h2>Skills</h2>
    <hr>
    {% for category in site.data.skills %}
    <div class="col-sm-4">
      <div class="panel panel-primary">
        <div class="panel-heading">
          <h3 class="panel-title">+{{ category.category }}</h3>
        </div>
        <div class="panel-body">
          {% for skill in category.skills %}
          <span class="label label-primary">{{ skill }}</span>
          {% endfor %}
        </div>
      </div>
    </div>
    {% endfor %}

  </div><!-- /.container -->
</section>
